:global(.article-content h1){
    margin-bottom:1em;
}
:global(.article-content blockquote){
    border-left: 0.25em solid #dfe2e5;
    background:#F6F6F6;
     padding:0.25em 0; 
}
:global(.article-content h2){
    margin-top:1em;
    margin-bottom:1em;
    font-weight:700;
}
:global(.article-content p){
    margin:20px 0;
}
:global(.article-content ul){
    padding-left:40px;
    margin: 20px 0 20px;
}
:global(.article-content ul li){
    margin-top: 10px;
    display: list-item;
    list-style-type: initial;
}